.title{
  background: transparent;
  backdrop-filter: blur(20px);
}

.progressbar{
  width: 0%;
  height: 100%;
  box-shadow: 0 0 15px #6304b1;
  background: #8142b4;
  animation: resize auto linear forwards;
  animation-timeline: scroll(root block);
}

@keyframes resize {
  from { width: 0% }
  to { width: 100% }
}

.fondo{
  background-color: #6c2f9e; 
  box-shadow: 2px 2px 2px #a87dcc;}