.containerImage{
  animation: zoom 10s ease;
  animation-timeline: view(block 0px 20px);
}
.image{
  border: 2px solid #a87dcc;
  box-shadow: 1px 1px 50px #a87dcc; 
}

@keyframes zoom {
  from{
    transform: scale(0);
  }to {
    transform: scale(1.6);
  }
}